.Cards-checkbox {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
}

.Cards-checkbox label {
    cursor: pointer;
}

.Cards-checkbox label span {
    visibility: hidden;
}

.Cards-checkbox input[type="checkbox"] {
    height: 1px;
    margin: -1px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.Cards-checkbox input[type="checkbox"]:focus + label > svg {
    box-shadow: 0 0 0 1px #16B1FC;
}




