.Contents {
  width: 915px;
}

.Contents-list {
  display: inline-block;
  width: 250px;
  margin: 2%;
  border-top-right-radius: 15px;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px #D1D1D1;
}


.Contents-title {
  display: inline-block;
  font-size: 35px;
}

.Contents-Cards {
  position: relative;
  width: 92%;
  min-height: 120px;
  height: 120px;
  margin: auto;
  margin-bottom: 16px;
  border: 2px solid #434242;
  border-radius: 10px;
  background-color: #FBFCFC;
}

.Contents-Cards:hover .Cards-update-btn {
  display: block;
}

.Cards-modify-btn {
  position: absolute;
  bottom: 6px;
  right: 6px;
  opacity: 0.5;
  font-size: 20px;
}

.Cards-modify-btn button, .Cards-cancel-btn, .Cards-save-btn, .Cards-delete-btn button {
  border:0;
  background-color: transparent;
}

.Cards-delete-btn {
  float: right;
}

.Cards-contents {
  display: inline-block;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  margin-left: 30px;
}

.Cards-textarea {
  width: 188px;
  min-height: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 0;
  background-color: #FBFCFC;
  margin-left: -18px;
}

.Cards-cancel-btn {
  float: left;
  margin-left: -45px;
}

.Cards-save-btn {
  float: left;
  margin-top: 50px;
  margin-left: -45px;
}

.dropdown {
  margin: 10px;
  float: right;
}

.dropdown button {
  width: 36px;
  height: 32px;
}

.hide {
  display: none;
}